@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
  font-family: "Roboto";
}

body {
  background-color: rgba(5, 5, 5, 1);
  color: white;
  padding: 20px 0;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.movie-app > .row > div {
  width: fit-content;
}

.image-container {
  position: relative;
  transition: transform 0.2s;
  width: 200px;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: fit-content;
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  transition: 0.5s ease;
  padding: 20px;
  opacity: 0;
}

.info {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  bottom: 0px;
  height: fit-content;
  text-align: center;
}

.fav {
  width: 30px;
  top: 0px;
  right: 20px;
  font-size: 30px;
  font-weight: bolder;
  text-align: end;
  z-index: 100;
  color: red;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

.image-container:hover .overlay {
  opacity: 1;
}

.scroll-container {
  min-height: 500px;
}
